<tbody role="rowgroup">
  <mat-row
    _ngcontent-hot-c247=""
    role="row"
    class="mat-row cdk-row ng-star-inserted"
    ><mat-cell
      _ngcontent-hot-c247=""
      role="gridcell"
      class="mat-cell cdk-cell cdk-column-argument mat-column-argument ng-star-inserted"
      ><input
        _ngcontent-hot-c247=""
        matinput=""
        autocomplete="off"
        class="mat-input-element mat-form-field-autofill-control ng-untouched ng-pristine ng-valid cdk-text-field-autofill-monitored"
        id="mat-input-0"
        aria-invalid="false"
        aria-required="false" /></mat-cell
    ><mat-cell
      _ngcontent-hot-c247=""
      role="gridcell"
      class="mat-cell cdk-cell cdk-column-weight mat-column-weight ng-star-inserted"
      style="
        background: linear-gradient(to left, white 50%, rgb(136, 201, 255) 0%);
      "
      ><mat-select
        _ngcontent-hot-c247=""
        role="combobox"
        aria-autocomplete="none"
        aria-haspopup="true"
        class="mat-select weight-select ng-tns-c116-0"
        aria-labelledby=" mat-select-value-1"
        id="mat-select-0"
        tabindex="0"
        aria-expanded="false"
        aria-required="false"
        aria-disabled="false"
        aria-invalid="false"
        ><div cdk-overlay-origin="" class="mat-select-trigger ng-tns-c116-0">
          <div class="mat-select-value ng-tns-c116-0" id="mat-select-value-1">
            <!----><span
              class="mat-select-value-text ng-tns-c116-0 ng-star-inserted"
              ><span class="ng-tns-c116-0 ng-star-inserted">5</span
              ><!----><!----></span
            ><!---->
          </div>
          <div class="mat-select-arrow-wrapper ng-tns-c116-0">
            <div class="mat-select-arrow ng-tns-c116-0"></div>
          </div>
        </div>
        <!----></mat-select
      ></mat-cell
    ><mat-cell
      _ngcontent-hot-c247=""
      role="gridcell"
      class="mat-cell cdk-cell cdk-column-delete mat-column-delete ng-star-inserted"
      ><mat-icon
        _ngcontent-hot-c247=""
        role="img"
        class="mat-icon notranslate delete-icon material-icons mat-icon-no-color"
        aria-hidden="true"
        data-mat-icon-type="font"
        >delete</mat-icon
      ></mat-cell
    ><!----></mat-row
  ><!----><!---->
</tbody>
